# Byte-compiled / cache files
.pytest_cache/
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv.gz
*.zip
*.h5
*.pkl
*.npy
*.npz

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/
.idea/

# Kaggle API
kaggle.json

# Python build
build/
dist/
*.egg-info/
